@media (max-width: 375px) {
  img {
    width: 500px;
  }

  .container {
    min-width: 100vh;
    height: 250vh;
    background-color: rgb(34, 34, 34);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: poppinsregular;
    margin: 0 auto;
    padding: 0px 80px 0px 80px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2% 0px 0px 0px;
    margin-top: 40px;
  }

  .navBtn ul {
    display: flex;
    gap: 10px;
  }
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mainText"
      "mainImg";
    /* flex: 1 0 auto; */
  }

  .mainText {
    grid-area: mainText;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    margin-top: -30%;
  }

  .descriptionMain {
    line-height: 20px;
    width: 800px;
    font-size: 16px;
    font-family: poppinslight;
    /*   margin-top: 25%; */
  }

  .mainImg {
    display: flex;
    align-items: center;
    grid-area: mainImg;
    margin: 500px 70px 0px -40px;
    position: absolute;
  }
}
