.header {
  padding: 25px 20px;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  font-family: "Playfair Display";
  background: rgba(20, 20, 20, 0.705);
  width: 100%;
}

.header-logo img,
h1 {
  display: inline-block;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-logo p {
  color: #ffffff;
  font-size: 2rem;
}

.header-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  font-size: 1.5rem;
  padding-right: 40px;
}

.header-menu li,
a {
  list-style: none;
  text-decoration: none;
}

.header-menu a {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.header-menu a:hover {
  border-color: #ffffff;
}

@media (max-width: 1000px) {
  .header-menu {
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .header-menu {
    padding-left: 50px;
  }
}
