.imgFundo {
  background-image: url(../images/fundoIntroducao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.introducao {
  display: flex;
  background: rgba(20, 20, 20, 0.7);
  border-radius: 15px;
  width: 70%;
  height: 70%;
  align-items: center;
  padding: 80px 1px;
}

.introducao img {
  border-radius: 45px;
  padding: 30px;
  width: 30%;
}

.introducao p {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: #ffffff;
  padding: 0px;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .introducao p {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .introducao p {
    margin: 20px 40px;
    text-align: center;
  }

  .introducao img {
    display: none;
  }
}

@media (max-width: 420px) {
  .introducao p {
    margin: 10px;
  }
}

@media (max-width: 320px) {
  .introducao p {
    margin: 10px;
  }
}
