.imgFundo {
  background-image: url(../images/fundoIntroducao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  margin: 80px auto;
  background: rgba(20, 20, 20, 0.7);
  border-radius: 15px;
  width: 60%;
  height: 60%;
}

.introducao img {
  margin: 15px 40px 15px 20px;
  border-radius: 15px;
}

.introducao p {
  display: flex;
  font-family: "Poppins";
  font-size: 1.3rem;
  color: #ffffff;
  align-items: center;
  padding: 50px;
}
