.lazer {
  background-image: url(../images/fundoLazer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  justify-items: center;
}

.lazer-titulo {
  text-align: center;
  color: white;
  font-family: "Playfair Display";
  font-size: 2rem;
  padding: 25px;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 20px;
  width: 30%;
}

.lazer-items {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 25px;
}

.lazer-item {
  background: #d9d9d9;
  border-radius: 15px;
  width: 30%;
}

.lazer-item img {
  border-radius: 15px 15px 0px 0px;
}

.lazer-itemTexto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.lazer-nome {
  font-size: 1.5rem;
  font-family: "Poppins";
  padding: 20px 15px;
}

.lazer-btnVer {
  background: #067300;
  padding: 7px 30px;
  display: inline-block;
  border-radius: 15px;
}

.lazer-btnVer {
  color: white;
  font-size: 1rem;
  font-family: "Poppins";
}

@media (max-width: 1150px) {
  .lazer-nome {
    font-size: 1rem;
  }

  .lazer-itemTexto {
    display: grid;
    grid-template-columns: 1;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    text-align: center;
  }

  .lazer-btnVer {
    padding: 7px 50px;
  }

  .lazer-item {
    width: 35%;
  }
}

@media (max-width: 800px) {
  .lazer-nome {
    padding: 15px;
  }
}

@media (max-width: 750px) {
}
