* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-width: 96vw;
  min-height: 100vh;
  background-color: /* #273038 */ #e4e3e4;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.logo {
  display: flex;
  place-content: center;
  padding: 60px 50px 50px 50px;
}

.menu {
  display: flex;
  place-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
  display: inline-block;
}

.navBtn {
  background-color: #ffffff;
  padding: 15px 30px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.3s;
  font-size: 1rem;
}

.navBtn:hover {
  border-color: #ce2a23;
  padding: 15px 30px;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #ee2211;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

.introducao-cover img {
  height: 100%;
  object-fit: cover;
}

.btnVerMais {
  background: #ee2211;
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 1rem;
}

.btnVerMais:hover {
  background: #8c0f11;
}

.subtitulo {
  display: grid;
  align-self: center;
  text-align: right;
  font-size: 4rem;
  padding: 40px;
  color: #c6c6c6;
  text-transform: uppercase;
  background-image: url("./img/onda.svg");
  background-size: 450px;
}

.vantagens {
  padding: 40px;
  background: #fff;
}

ol {
  list-style: none;
}

.vantagens li:nth-child(odd) {
  background: #e4e3e4;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  align-content: center;
  border-left: 4px solid transparent;
  transition: 0.3s;
}

.vantagens-item:hover {
  border-color: #ee2211;
}

.vantagens-item p {
  grid-column: 2;
  font-size: 1rem;
}

.footer {
  background: #fff;
  padding: 40px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}

@media (max-width: 610px) {
  .container {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: center;
    align-content: center;
    justify-items: center;
  }

  .introducao::after {
    display: none;
  }

  .logo {
    display: flex;
    place-content: center;
    padding: 30px 50px 30px 50px;
  }

  .menu {
    display: flex;
    place-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .navBtn {
    background-color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: 0.3s;
    font-size: 1rem;
    display: inline-block;
  }
}

@media (max-width: 470px) {
  .subtitulo {
    font-size: 3.5rem;
  }
}

@media (max-width: 425px) {
  .subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 375px) {
  .subtitulo {
    font-size: 2.5rem;
  }
}

@media (max-width: 330px) {
  .subtitulo {
    font-size: 2rem;
  }
}
